<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title><%= window_title %></title>
  <%= stylesheets %>
  <%= extra_head_content %>
</head>

<body class="<%= body_tags %>">

<div id="astrobase-wrapper">

  <%= yield %>

</div>

<%= javascripts %>

<script>
(function(window, document, $, undefined) {
  $.domReady(function() {
    astrobase.init({ env: "<%= app_env %>" });
    <%= extra_javascript %>
  })
})(this, this.document, this.ender);
</script>

</body>
</html>
